:root {
	--base-color: white;
	--base-variant: #e8e9ed;
	--text-color: black;
	--text-variant: #d0d1d5;
}

.darkmode {
	--base-color: #121212;
	--base-variant: #333;
	--text-color: white;
}

body {
	font-family: "Rubik";
	margin: 0px;
	background-color: var(--base-color);
}

.navbar {
	background-color: var(--base-color);
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.3s;
	margin-bottom: 30px;
	border-bottom: 2px solid var(--base-variant);
}

.navbar a {
	float: left;
	color: var(--text-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

.navbar-right {
	float: right;
	margin-right: 20px;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: var(--text-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

header {
	padding: 200px 15px 100px 15px;
}

header > h1 {
	vertical-align: center;
}

h2 {
	padding: 15px 15px;
	font-size: 30px;
	margin-top: 50px;
	color: var(--text-color);
}

h3 {
	color: var(--text-color);
}

p {
	color: var(--text-color);
}

#theme-switch {
	border: none;
	height: 50px;
	width: 50px;
	padding: 0;
	background-color: var(--base-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#theme-switch svg {
	fill: var(--text-color);
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}

.game-link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.game-card {
	background-color: var(--base-color);
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 45%;
	margin: 2.5%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.game-card-icon {
	display: block;
	width: clamp(100px, 200px, 250px);
	margin-right: 20px;
}

/* Three columns side by side */
.column {
	float: left;
	width: 50%;
	margin-bottom: 16px;
	padding: 0 8px;
}

/* Add some shadows to create a card effect */
.about-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
	padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: var(--text-variant);
}

.about-card-icon {
	display: block;
	width: clamp(100px, 200px, 250px);
	margin-right: 20px;
}
